<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap/css/bootstrap.min.css"/>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/plugin/bootstrap/js/bootstrap.min.js"></script>
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/strategy/position_order/upload/">
        选择策略
        <select name="strategy_id">
            <option>1</option>
            <option>1</option>
            <option>1</option>
        </select>


        上传目标仓位文件
        <input type="file" name="upload_file"/>
        文件预览
        <textarea>

        </textarea>

        <button type="submit" value="upload">上传</button>
    </form>

</div>


<script>


</script>
</body>
</html>