<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="/strategy/position_order/?strategy_id={{strategy_id}}">

        <label>上传下一交易日目标仓位文件</label>
        <br>
        <input type="file" name="upload_file"/><br>
        <textarea id="show_upload_file">
            文件预览
        </textarea>
        <br>

        <button type="submit" value="upload">上传</button>
    </form>

    <hr>
    <div>
        <p>请在下单当日下载列表！！！！！</p>
        <a id="download" href="/strategy/position_order/?strategy_id={{strategy_id}}&day=0" download="{{strategy_name}}.csv">点击下载当日交易列表</a>
    </div>

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script>
        $(function(){
            var date = new Date;
            var file_name = date.getFullYear()+'-' +date.getMonth()+'-'+date.getDate()+'_'+$("#download").attr("download");
            $("#download").attr("download",file_name);
        });
    </script>
</body>
</html>